* {
    margin: 0px;
}
header {
    background-color: white;
    padding: 10px;
}
body {
    background-color: #f6f8f9;

}
.title {
    line-height: 40px;
}
.log {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
}
.name {
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #021732;
}
.buttons {
    background-color: white;
    padding: 10px 25px;
    border-radius: 10px 10px 0px 0px;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding-top:2%;
}
.first-one {
    background-color: #47adf1;
    border: 0px;
    border-radius: 5px;
    padding: 5px 8px;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.second-one {
    background-color: white;
    border: 0px;
    border-radius: 5px;
    padding: 5px 8px;
    color:rgb(172, 171, 171);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid rgb(172, 171, 171);
}
.content {
    padding-left: 30px;
}
.downarrow {
    font-size: 15px;
    vertical-align: middle;
}
.background-content {
    background-color: white;
    width: 80%;
    margin:5px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 3%;
    padding-top: 3%;
}
li {
    list-style-type: none;
    line-height: 2rem;
}
.special-note1 {
    color: white;
    background: #45abea;
    border-radius: 5px;
    font-size: 12px;;
    padding: 3px;
}
.special-note2 {
    color: white;
    background: #9e75e4;
    border-radius: 5px;
    font-size: 12px;;
    padding: 3px;
}
.special-note3 {
    color: white;
    background: #64c0a9 ;
    border-radius: 5px;
    font-size: 12px;;
    padding: 3px;
}
.special-note4 {
    color: white;
    background: #f29f35 ;
    border-radius: 5px;
    font-size: 12px;;
    padding: 3px;
}
.special-note5 {
    color: white;
    background: #d864a2 ;
    border-radius: 5px;
    font-size: 12px;;
    padding: 3px;
}
.special-note6 {
    color: white;
    background: #b0c926 ;
    border-radius: 5px;
    font-size: 12px;;
    padding: 3px;
}
.check {
    display: inline-block;
    color:#2dc94f ;
    border: 2px solid #2dc94f;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    line-height: 1rem;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    margin-right: 5px;
}
.cross {
    display: inline-block;
    color:#c92d2d ;
    border: 2px solid #c92d2d;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 1rem;
    font-size: 12px;
    margin-right: 5px;
}